@tailwind base;

html,
body,
body > main {
    height: 100vh;
}

body {
    padding: 0;
    box-sizing: border-box;
}

.containerPage {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
@tailwind components;
@tailwind utilities;
