name: Compile

on:
  push:
    tags: ["v*"]
    branches: [master, develop, released, hotfix/*, release/*]
  pull_request:
    branches: [master, develop, released]

permissions:
  contents: write
  pull-requests: read
  packages: read

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for
  # pull requests or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      WEB3_CONSTANTS_RPC: ${{ secrets.WEB3_CONSTANTS_RPC }}
      NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
    steps:
      - name: Get cache date
        id: get-date
        run: echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"
        shell: bash
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'pnpm'
      - name: Authenticate NPM
        uses: DimensionDev/github-token-action@latest
        with:
            registry: true
      - name: Restore Webpack cache
        uses: actions/cache@v2
        with:
          path: packages/mask/node_modules/.cache/
          key: ext2-${{ hashFiles('pnpm-lock.yaml') }}-${{ steps.get-date.outputs.date }}
          # Not fallback to different dependencies. Webpack seems like have bug.
          # An example caused by the webpack cache bug: https://github.com/facebook/react/issues/21587
          restore-keys: ext2-${{ hashFiles('pnpm-lock.yaml') }}
      - run: pnpm install
      - run: npx gulp build-ci
      - name: Upload `MaskNetwork.chromium.zip`
        uses: actions/upload-artifact@v3
        with:
          name: MaskNetwork.chromium.zip
          path: masknetwork.chromium.zip
          if-no-files-found: error
      - name: Upload `MaskNetwork.chromium-beta.zip`
        uses: actions/upload-artifact@v3
        with:
          name: MaskNetwork.chromium-beta.zip
          path: masknetwork.chromium-beta.zip
          if-no-files-found: error
      - name: Upload `MaskNetwork.chromium-mv3.zip`
        uses: actions/upload-artifact@v3
        with:
          name: MaskNetwork.chromium-mv3.zip
          path: masknetwork.chromium-mv3.zip
          if-no-files-found: error
      - name: Upload `MaskNetwork.chromium-e2e.zip`
        uses: actions/upload-artifact@v3
        with:
          name: MaskNetwork.chromium-e2e.zip
          path: masknetwork.chromium-e2e.zip
          if-no-files-found: error
      - name: Upload `MaskNetwork.firefox.zip`
        uses: actions/upload-artifact@v3
        with:
          name: MaskNetwork.firefox.zip
          path: masknetwork.firefox.zip
          if-no-files-found: error
      - name: Upload `MaskNetwork.firefox-e2e.zip`
        uses: actions/upload-artifact@v3
        with:
          name: MaskNetwork.firefox-e2e.zip
          path: masknetwork.firefox-e2e.zip
          if-no-files-found: error
      - uses: "marvinpinto/action-automatic-releases@latest"
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            *.zip
