name: Linters and tests

on:
  push:
    branches: [master, released]
  pull_request:
    branches: [master, released]

jobs:
  prettier:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2-beta
      - run: npx prettier --list-different .
  locale-kit:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2-beta
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-node-
      - run: npx pnpm ci
      - run: npx locale-kit
  type-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2-beta
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-node-
      - run: npx pnpm ci
      - run: npx build -- echo "Check tsc"
  type-coverage:
    runs-on: ubuntu-20.04
    needs: [prettier, locale-kit, type-check]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2-beta
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-node-
      - run: npx pnpm ci
      - run: npm run lint:typecoverage
        working-directory: packages/maskbook
  eslint:
    runs-on: ubuntu-20.04
    continue-on-error: true
    strategy:
      fail-fast: false
    needs: [prettier, locale-kit, type-check]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2-beta
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-node-
      - run: npx pnpm ci
      - run: npm run lint:ci
      - run: npm run lint:ci -- --format junit -o reports/junit/eslint-results.xml
      - name: Upload eslint report
        uses: actions/upload-artifact@v2
        with:
          name: eslint
          path: reports/junit
