name: Linters and tests

on:
  push:
    branches: [master, develop*, released]
  pull_request_target:
    branches: [master, develop*, released]

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for
  # pull requests or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npx prettier@2.7.1 --check .
  markdownlint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npx markdownlint-cli .
  editorconfig:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: DimensionDev/setup-editorconfig-action@latest
      - run: editorconfig-checker
  anti-trojan-source:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npx anti-trojan-source --files='packages/**/src/**/*.{ts,tsx,js}'
  type-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "pnpm"
      - name: Authenticate NPM
        uses: DimensionDev/github-token-action@latest
        with:
            registry: true
      - run: pnpm install
      - run: npx gulp codegen
      - run: npx gulp typescript
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "pnpm"
      - name: Authenticate NPM
        uses: DimensionDev/github-token-action@latest
        with:
            registry: true
      - run: pnpm install
      - run: npx gulp codegen
      - run: npx gulp polyfill
      - run: pnpm run test --coverage
  eslint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2.2.1
      - uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "pnpm"
      - name: Authenticate NPM
        uses: DimensionDev/github-token-action@latest
        with:
            registry: true
      - name: Get cache date
        id: get-date
        run: echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"
        shell: bash
      - name: Restore ESLint cache
        uses: actions/cache@v2
        with:
          path: ./.eslintcache
          key: linter-${{ steps.get-date.outputs.date }}
          restore-keys: linter-
      - run: pnpm install
      - name: Run Eslint
        run: |
          # report to stdio and to file, it's cached, the second run should be fast
          pnpm run lint:ci
          pnpm run lint:ci-report
      - name: Upload eslint report
        uses: actions/upload-artifact@v2
        with:
          name: eslint
          path: reports/junit
