name: Linters and tests

on:
  push:
    branches: [master, develop, released, hotfix/*, release/*]
  pull_request:
    branches: [master, develop, released, hotfix/*, release/*]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npx prettier@3.0.0 --check .
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npx markdownlint-cli .
  anti-trojan-source:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npx anti-trojan-source --files='packages/**/src/**/*.{ts,tsx,js}'
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "pnpm"
      - name: Authenticate NPM
        uses: DimensionDev/github-token-action@latest
        with:
            registry: true
      - run: git config --global url."https://github.com/".insteadOf git@github.com
      - run: pnpm install
      - run: npx gulp codegen
      - run: npx gulp typescript
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "pnpm"
      - name: Authenticate NPM
        uses: DimensionDev/github-token-action@latest
        with:
            registry: true
      - run: git config --global url."https://github.com/".insteadOf git@github.com
      - run: pnpm install
      - run: npx gulp codegen
      - run: npx gulp polyfill
      - run: pnpm run test
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.1
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "pnpm"
      - name: Authenticate NPM
        uses: DimensionDev/github-token-action@latest
        with:
            registry: true
      - name: Get cache date
        id: get-date
        run: echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"
        shell: bash
      - name: Restore ESLint cache
        uses: actions/cache@v3
        with:
          path: ./.eslintcache
          key: linter-${{ steps.get-date.outputs.date }}
          restore-keys: linter-
      - run: git config --global url."https://github.com/".insteadOf git@github.com
      - run: pnpm install
      - run: npx gulp codegen
      - run: echo "If you error at next line, please run npx gulp codegen and commit it!"
      - run: git diff --exit-code
      - name: Run Eslint
        run: |
          # report to stdio and to file, it's cached, the second run should be fast
          pnpm run lint:ci
          pnpm run lint:ci-report
      - name: Upload eslint report
        uses: actions/upload-artifact@v2
        with:
          name: eslint
          path: reports/junit
