name: Linters and tests

on:
  push:
    branches: [master, released]
  pull_request:
    branches: [master, released]

jobs:
  linters:
    runs-on: ubuntu-20.04
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2-beta
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: sudo npm i -g pnpm
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
      - run: npm run ci
      - run: npx prettier --check .
      - run: npx tsc -b
      - run: npm run lint:typecoverage
      - run: npm run locale-kit
      - run: npm run lint:report
      - name: Upload ESLint Report
        uses: actions/upload-artifact@v2
        with:
          name: eslint
          path: ./reports/junit
  storybook:
    runs-on: ubuntu-20.04
    continue-on-error: false
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2-beta
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: sudo npm i -g pnpm
      - run: npm run ci
