name: Build

on:
  push:
    branches: [master, develop*, released]
  pull_request:
    branches: [master, develop*, released]

jobs:
  netlify:
    runs-on: ubuntu-20.04
    env:
      NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
    steps:
      - name: Get cache date
        id: get-date
        run: echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"
        shell: bash
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
        with:
          version: '6.23.1'
      - uses: actions/setup-node@v2
        with:
          node-version: '17'
          cache: 'pnpm'
      - name: Restore Webpack cache
        uses: actions/cache@v2
        with:
          path: |
            packages/dashboard/node_modules/.cache/
            packages/theme/node_modules/.cache/
          key: ${{ runner.os }}-netlify-${{ hashFiles('pnpm-lock.yaml') }}-${{ steps.get-date.outputs.date }}
          # Not fallback to different dependencies. Webpack seems like have bug.
          # An example caused by the webpack cache bug: https://github.com/facebook/react/issues/21587
          restore-keys: ${{ runner.os }}-netlify-${{ hashFiles('pnpm-lock.yaml') }}
      - run: pnpm install
      - run: npx gulp build-ci-netlify
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: './packages/netlify/'
          production-branch: develop
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
